# Default ignored files
/shelf/
**/.idea/
**/.bsp

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/target/
**/project